<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>190401Servlets</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>com.revature.servlets.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetVsPost</servlet-name>
		<servlet-class>com.revature.servlets.GetVsPost</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetVsPost</servlet-name>
		<url-pattern>/GetVsPost</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateCookie</display-name>
		<servlet-name>CreateCookie</servlet-name>
		<servlet-class>com.revature.servlets.CreateCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCookie</servlet-name>
		<url-pattern>/CreateCookie</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TrackCookies</display-name>
		<servlet-name>TrackCookies</servlet-name>
		<servlet-class>com.revature.servlets.TrackCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackCookies</servlet-name>
		<url-pattern>/TrackCookies</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteCookie</display-name>
		<servlet-name>DeleteCookie</servlet-name>
		<servlet-class>com.revature.servlets.DeleteCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCookie</servlet-name>
		<url-pattern>/DeleteCookie</url-pattern>
	</servlet-mapping>
</web-app>