Project 1 Required Tools
Java
Oracle SQL
Servlets
JavaScript
AJAX
HTML
JDBC
Log4J
JUnit

OPTIONALLY (hard mode)
Angular  
Hibernate

NOTE: The file upload and the password encryption requirement
-I will give no hints, I will not teach how to do
the file upload requirement. NO.
-I will not troubleshoot this requirement either.